/* skip_nav */
.skip_nav{position:relative;top:-1px;left:0;z-index:10000;width:100%}
.skip_nav ul li{position:absolute;top:-1px;left:0;width:100%}
.skip_nav a,
.skip_nav a:link{display:block;overflow:hidden;width:100%;height:1px;margin:0 0 -1px;font-size:1em;text-decoration:none}
.skip_nav a:active,
.skip_nav a:focus,
.skip_nav a:hover{width:100%;height:30px;padding:20px 0 6px;background-color:#783d4e;font-weight:bold;color:#fff;text-align:center}

/* header */
.header{border-top:3px solid #c79a59;border-bottom:1px solid rgba(255,255,255,0.2);box-sizing:border-box;width:100%;}
.header .empti{width:100px;height:100px;border-right:1px solid rgba(255,255,255,.5);}
.header h1{margin-left:30px;}
.header h1 a{}
.header h1 a img{position:absolute;top:-3px;}
.header h1 a .white{display:none;}

.header .gnb_wrap{/*margin-left:338px;*/margin-left:430px;}
.header .gnb_wrap ul li{float:left;margin-left:106px;margin-top:32px;}
.header .gnb_wrap ul li a{font-size:20px;color:#fff;}

.header .menu_wrap{margin-top:38px;}
.header .menu_wrap .login_wrap{display:none;float:left;}
.header .menu_wrap .login_wrap.on{display:block;}
.header .menu_wrap .login_wrap li{float:left;}
.header .menu_wrap .login_wrap li.bar:after{content:'';width:1px;height:17px;background:#fff;opacity:0.2;float:left;margin-right:19px;margin-left:19px;margin-top:5px;}
.header .menu_wrap .login_wrap li a{font-size:16px;color:#fff;}

.header .menu_wrap .lang_select {position:relative;float:left;margin-right:20px;margin-left:19px;}
.header .menu_wrap .lang_select:before{content:'';float:left;width:1px;height:17px;background:#fff;opacity:0.2;margin-right:19px;margin-top:5px;}
.header .menu_wrap .lang_select > a {position:relative;}
.header .menu_wrap .lang_select > a img{vertical-align:sub;}
.header .menu_wrap .lang_select > a .white{display:none;}
.header .menu_wrap .lang_select > a:after {content:'';display:block;width:10px;height:10px;/*background:url('../../images/common/btn_top_select.png') center no-repeat;*/position:absolute;top:50%;margin-top:-5px;right:10px;}
.header .menu_wrap .lang_select ul {display:none;position:absolute;top:42px;left:0;background:#56719b;z-index:120; padding: 0 20px; width:130px;}
.header .menu_wrap .lang_select ul li {display:block;width:100%}
.header .menu_wrap .lang_select ul li a {text-align:center;display:block;width:100%;line-height:30px;color:#d1e1fa;}
.header .menu_wrap .lang_select ul li:hover a {background:#0a2148;color:#fff;}
.header .menu_wrap .lang_select.active > a:after {transform: rotate(180deg);}

.header .menu_wrap .header_search{float:left;margin-right:20px;}
.header .menu_wrap .header_search:before{content:'';float:left;width:1px;height:17px;background:#fff;opacity:0.2;margin-right:19px;margin-top:5px;}
.header .menu_wrap .header_search  {float:left;overflow:hidden;}
.header .menu_wrap .header_search input {float:left;width:0px;height: 34px;opacity:0;transition:all 1s;margin-left:-20px;padding:0 10px;display:none;}
.header .menu_wrap .header_search .btn_header_search {float:right;/*width:34px;height:34px;line-height:28px;background:#56719b;*/text-align:center;}
.header .menu_wrap .header_search .btn_header_search img {display:inline-block;vertical-align:middle;}
.header .menu_wrap .header_search .btn_header_search .white{display:none;}
.header .menu_wrap .header_search.active input {width: 200px;opacity:1;display:block;margin-left:0px;}
.header .menu_wrap .header_search .img_search_off {display:none;}
.header .menu_wrap .header_search.active .img_search_on {display:none;}
.header .menu_wrap .header_search.active .img_search_off {display:inline-block;}

.header .menu_wrap .allmenu{float:left;/*background:#8b0028;*/width:100px;height:100px;margin-top:-38px;border-left:1px solid rgba(255,255,255,.5);}
.header .menu_wrap .allmenu .btn_menu {display:block;width: 25px;height: 17px;line-height: 32px; padding: 0;text-align: center;position:relative;margin-top: 40px;margin-left:39px;}
.header .menu_wrap .allmenu .btn_menu .line_menu {display: block;height: 2px;width: 25px;left: 50%;margin-left: -14px;background: #fff;position: absolute;transition: all 0.25s ease-out;}
.header .menu_wrap .allmenu .btn_menu .line_menu.line_menu_caption {display:none;}
.header .menu_wrap .allmenu .btn_menu .line_menu.line_menu_top {top:0px;}
.header .menu_wrap .allmenu .btn_menu .line_menu.line_menu_mid {top:8px;width:25px;}
.header .menu_wrap .allmenu .btn_menu .line_menu.line_menu_bottom {top:15px;}

.header .menu_wrap .allmenu .btn_menu.on .line_menu{transition: all 0.5 ease-in-out;}
.header .menu_wrap .allmenu .btn_menu.on .line_menu.line_menu_mid{display:none;}
.header .menu_wrap .allmenu .btn_menu.on .line_menu.line_menu_top{transform:rotate(-45deg);top:11px;}
.header .menu_wrap .allmenu .btn_menu.on .line_menu.line_menu_bottom{transform:rotate(45deg);top:11px;}



.header.on{border-bottom:0;}
.header.on h1 a .white{display:none;}
.header.on h1 a .black{display:block;}
.header.on .menu_wrap .lang_select > a .white{display:none;}
.header.on .menu_wrap .lang_select > a .black{display:inline-block;}
.header.on .menu_wrap .header_search .btn_header_search .white{display:none;}
.header.on .menu_wrap .header_search .btn_header_search .black{display:inline-block;}
.header.on{background:#fff;}
.header.on .gnb_wrap ul li a, .header.on .menu_wrap .login_wrap li a{color:#111;}
.header.on .menu_wrap .login_wrap li.bar:after, .header.on .menu_wrap .lang_select:before, .header.on .menu_wrap .header_search:before{background:#cfcfcf;opacity:1;}
.header.on .menu_wrap .allmenu{background:#c79a59;border:0;}
.header.on .menu_wrap .allmenu .btn_menu .line_menu{background:#fff;}

/* gnb_nav */
#gnbNav{float:right;padding-top:20px}
#gnbNav > ul > li{float:left;position:relative;padding-left:30px}
#gnbNav > ul > li > a{font-size:18px;font-weight:bold}
#gnbNav > ul > li > a{text-decoration:none}
#gnbNav > ul > li > .gnb_sub{display:none;position:absolute;top:80px;z-index:6}
#gnbNav > ul > li > .gnb_sub dt{padding-bottom:14px;font-weight:bold;font-size:18px;color:#836b4a}
#gnbNav > ul > li > .gnb_sub dd{padding:0 0 10px 7px;background:url(../images/common/ico_gnb_dot.gif) 0 35% no-repeat;text-align:left}
#gnbNav > ul > li > .gnb_sub dd a{font-size:14px;color:#595959;letter-spacing:-1px}
#header .gnb_nav_bg{display:none;position:absolute;top:123px;left:0;z-index:5;width:100%;height:337px;border-bottom:2px solid #8d0128;background-color:#fafafa}
#header .gnb_nav_bgInner{position:relative;width:980px;margin:0 auto;text-align:left}
#header .gnb_nav_bgInner .gnb_research{padding-top:31px}
#header .gnb_nav_bgInner .gnb_research li{padding-bottom:15px}
#header .gnbClose{display:none;position:absolute;right:0;bottom:-15px;z-index:5}

/* container */
#container{width:100%;height:100%;background-color:#f9f9f9}
#container .cont_inner{position:relative;width:980px;height:100%;margin:0 auto}
#container .cont_inner:after{display:block;clear:both;content:''}
.inner01{width:1720px;margin:0 auto;}
.inner02{width:1660px;margin:0 auto;}

/* footer */
.footer{background:#f3f3f3;padding:48px 0 90px;overflow:unset;}
.footer .footer_logo{float:left;}


.footer .footer_content{float:left;margin-left:212px;}
.footer .footer_content ul li{float:left;}
.footer .footer_content ul li.bar:after{content:'';float:left;margin:0 16px;margin-top:5px;width:1px;height:12px;background:#d1d1d1;}
.footer .footer_content ul li a{color:#111;font-size:16px;font-weight:600;}
.footer .footer_content .address{padding-top:30px;}
.footer .footer_content .address p{font-size:14px;line-height:26px;color:#999;font-weight:400;}
.footer .footer_content .address p:last-child{padding-top:53px;}



.footer .footer_site{float:right;}
.footer .footer_site .f_select01{position:relative;float:left;}
.footer .footer_site .f_select01 + .f_select01{margin-left:10px;}
.footer .footer_site .f_select01 > a{display:block;width:255px;height:55px;line-height:55px;border-radius:27.5px;background:#939296;transition:all 0.4s;padding:0 25px;box-sizing:border-box;color:#fff;font-size:16px;}
.footer .footer_site .f_select01 > a em{float:right;}
.footer .footer_site .f_select01 > a em:after{content: '+';display: block;font-size: 23px;margin-top: -2px;}
.footer .footer_site .f_select01 .select_con{position: absolute;/*top:55px;*/bottom:55px;left: 0;background: #fff;width: 100%;max-height: 140px;overflow: hidden;overflow-y: auto;z-index: 5;box-sizing: border-box;display:none;}
.footer .footer_site .f_select01 .select_con li a{display:block;padding:0 25px;font-size:16px;}
.footer .footer_site .f_select01.active{bottom:0;}
.footer .footer_site .f_select01.active .select_con{height:140px;}


.footer .footer_certified{width:100%; margin-top:95px;}
.footer .footer_certified img{width:55px;float:left;margin:0 18px;}
.footer .footer_certified div{width:315px;border:1px solid #d1d1d1;border-radius:2px;box-sizing:border-box;float:right;padding:12px 20px 12px 0;display: flex;align-items: center;}
.footer .footer_certified div > ul{float:left;width:calc(100% - 74px);}
.footer .footer_certified div > ul li{color:#868686;font-size:12px;line-height:18px;}

/* ------------------------------------------
SUB
------------------------------------------ */
body.sub #container{background-color:#fff}

/* lnb 메뉴 */
#container #lnb{float:left;border:1px solid #e0e0e0;border-top:none;border-bottom:none}
#lnb .tit{padding:39px 0;border-bottom:1px solid #e0e0e0;font-size:30px;font-weight:bold;color:#222;text-align:center}
#lnb .lnb_inner{overflow:hidden;width:228px;text-align:left}

/* lnb_02_depth Menu */
.lnb_inner > ul.lnb_02_depth > li{border-bottom:1px solid #e0e0e0}
.lnb_inner > ul.lnb_02_depth > li > a{display:block;width:215px;height:45px;padding-left:14px;background:url(../images/common/ico_lnb_arr_off_01.gif) 90% 50% no-repeat;line-height:46px;font-size:16px;font-weight:bold;color:#343434;text-decoration:none}
.lnb_inner > ul.lnb_02_depth > li.selected > a,
.lnb_inner > ul.lnb_02_depth > li > a:hover,
.lnb_inner > ul.lnb_02_depth > li > a:focus,
.lnb_inner > ul.lnb_02_depth > li > a:active{background:#860026 url(../images/common/ico_lnb_arr_on_01.gif) 90% 50% no-repeat;color:#fff}

/* sub content area */
#container .sub_cont{float:right;width:700px;text-align:left}
#container .sub_cont h3.tit{padding:39px 0;font-size:30px;font-weight:bold;color:#424242;text-align:left}

/* 버튼 스타일 - 레이아웃 */
.tbl_btn_style{width:100%;text-align:center}
.tbl_btn_style th,
.tbl_btn_style td{padding:10px 0;border:1px solid #000}